<link rel="stylesheet" href="/stylesheets/partials/header.css"> 
<div class="pill-nav">
    <ul> 
        <li id="home"><a href="/">Home</a></li>
        <li id="news"><a href="">News</a></li>
        <li id="contact"><a href="">Contact</a></li>
        <li id="about"><a href="">About</a></li>
        <li id="log"><a href="/login">Login</a></li>
        <li id="cad"><a href="/auth/cadastro">Cadastro</a></li>
    </ul>
</div>
