<link rel="stylesheet" href="/stylesheets/partials/header.css"> 
<nav>
    <div class="pill-nav">
        <ul> 
            <li id="home"><a href="/">Home</a></li>
            <li id="news"><a href="">News</a></li>
            <li id="contact"><a href="">Contact</a></li>
            <li id="about"><a href="/about">About</a></li>
            <div class="reg">
                <li id="log"><a href="/login">Login</a></li>
                <li id="cad"><a href="/auth/cadastro">Cadastro</a></li>
            </div>
        </ul>
    </div>
</nav>
