<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <title>Sobre</title>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <section class="container">
        <p>Olá meu nome é Lucas Eduardo Aquino, geralmente me chamam de Aquino, tenho 19 anos.
             Já tenho conhecimento em Node.Js, Django é Flask. Atualmente faço falcudade na Universidade de Brasilia
             (UNB), faço Computação e estou no 3° semestre

        </p>
    </section>
    
</body>
</html>