<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <h1>Aquino Projects</h1>
    <section class="container">
        <div class="form">
            <a href="http://localhost:3000/imc"><button>Calculadora IMC</button></a>
            <a href="http://localhost:3000/time"><button>Time</button></a>
        </div>
        
    </section>
    <script></script>
</body>

</html>
