<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>

    <div class="nav-bar">
        <style>
              ul {
          
                  text-align: center;
                  background-color: rgba(0, 0, 0, 0.26);
                  padding: 20px;
                  margin-top: 0px;
              
              }
              
              li {
                  
                  display:inline;
              }
              
              .pill-nav a {
                margin: 15px;
                color: white;
                text-align: center;
                padding: 14px;
                text-decoration: none;
                font-size: 17px;
                border-radius: 10px;
            }

            .pill-nav a:hover {
                background-color: #ffffff42;
                color: rgb(255, 255, 255);
            }

           
            
        </style>
        <ul>
            <div class="pill-nav">
                <li><a href="/">Home</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About</a></li>
            </div>
      </ul>
    </div>
    

    <h1>Aquino Projects</h1>
    <section class="container">
        <div class="form">
            <a href="http://localhost:3000/imc"><button>Calculadora IMC</button></a>
            <a href="http://localhost:3000/time"><button>Time</button></a>
        </div>
        
    </section>
    <script></script>
</body>

</html>
