<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
    <link rel="stylesheet" href="/stylesheets/time.css">
    
</head>

<body>

    <div class="nav-bar">
        <style>
              ul {
          
                  text-align: center;
                  background-color: rgba(0, 0, 0, 0.26);
                  padding: 20px;
                  margin-top: 0px;
              
              }
              
              li {
                  
                  display:inline;
              }
              
              a {
                  margin: 15px;
                  color: white;
              }
              .pill-nav a {
                margin: 15px;
                color: white;
                text-align: center;
                padding: 14px;
                text-decoration: none;
                font-size: 17px;
                border-radius: 10px;
            }

            .pill-nav a:hover {
                background-color: #ffffff42;
                color: rgb(255, 255, 255);
            }

           
            
        </style>
        <ul>
            <div class="pill-nav">
                <li><a href="/">Home</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About</a></li>
            </div>
      </ul>
    </div>
    <section class="container">
       <h1>Meu Timer</h1>
       <p class="relogio">00:00:00</p>
       <p>
           <button class="iniciar">Iniciar</button>
           <button class="pausar">Pausar</button>
           <button class="zerar">Zerar</button>
       </p>
            
    </section>
    <script src="/javascripts/time.js"></script>
</body>

</html>
